*
{
    margin: 0px;
    padding: 0px;
}
#NavContainer
{
    width: 100vw;
    display: flex;
    justify-content: space-around;
}
.NavContent
{
    color: blue;
    text-align: center;
}
.QuarterWide
{
    flex: 0 0 25vw;
}