body{
    background-color: gray;
}
p{
    color: rgb(28, 198, 198);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
}
h1{
    color: rgb(46, 99, 197);
    font-family: Arial, Helvetica, sans-serif;
    
} 
h2{
    color: rgb(20, 185, 42);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
}
h3{
    color: rgb(77, 101, 8);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  
}